<div>
   <app-user-form (userAddedEvent) = "addUser($event)"></app-user-form>
  <h3>Users list:</h3>
  <app-spinner [visible] = "isLoading"></app-spinner>
  <ul class="list-group users">
        <li class="list-group-item" *ngFor = "let user of users" 
          [class.active]="currentUser == user"
          (click)="select(user)" >
            <app-user [user] = user (deleteEvent) = "deleteUser($event)"
                                    (editEvent) = "editUser($event)"></app-user>
<ul>
          <li *ngFor = "let title of user.posTitles">
            {{(title | async)?.title}}

          </li>
        </ul>  
                                          
        </li>
        
  </ul>
</div>